{
  "extends": [
    "stylelint-config-airbnb",
    "stylelint-config-rational-order",
    "stylelint-prettier/recommended"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-config-rational-order/plugin",
    "stylelint-scss",
    "stylelint-prettier"
  ],
  "rules": {
    "order/properties-order": [],
    "plugin/rational-order": [true, {}],
    "prettier/prettier": true,
    "declaration-property-value-blacklist": null,
    "max-nesting-depth": null
  }
}
